table {
  border-collapse: collapse;
  width: 100%;
}

/* Style untuk sel header */
th {
  background-color: #ebf8ff;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

/* Style untuk sel data */
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

/* Style untuk tautan aksi */
.badge {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.edit {
  background-color: #109be9;
  padding: 5px 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete {
  background-color: #d9534f;
  padding: 5px 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
